{% load static %}
<!doctype html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/toastr.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/circular-std/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <title>Elevator</title>
</head>

<body>

  <div class="dashboard-full-page-wrapper">
      {% block content %}{% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'assets/js/jquery.js' %}"></script>
  <!-- Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  <!-- jQuery Custom Scroller CDN -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="{% static 'assets/js/toastr.min.js' %}"></script>

  <!-- Custom error handling -->
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-bottom-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "800",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    toastr.error('{{ message }}');
    {% elif message.tags == 'success' %}
    toastr.success('{{ message }}');
    {% elif message.tags == 'warning' %}
    toastr.warning('{{ message }}');
    {% else %}
    toastr.info('{{ message }}');
    {% endif %}
    {% endfor %}
    {% endif %}
  </script>
</body>

</html>