$primaryColor: #E60041;
$secondaryColor: #0086FF;
$successColor: #41E685;
$dangerColor: #FA3232;
$warningColor: #FFD21E;
$infoColor: #0DB8F6;
$normalColor: rgb(123, 123, 123);
$normalColorTransparent: rgba(123, 123, 123, 0.3);
$lightGrey: rgba(204, 204, 204, 0.3);


$textColor: rgba(96, 98, 102, 0.5);