{% load static %}
<div class="py-4 px-3">
    <ul class="navbar-nav flex-column">
        {% if request.user.is_authenticated %}

        <!-- VENDOR LINKS -->
        {% if request.user.is_vendor %}
        <li class="nav-item">
            {% url 'vendor_home' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'vendor/customers' in request.path %}active{% endif %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-clients" aria-controls="submenu-clients" href="#submenu-clients">
                <i class="fas fa-users"></i> Clients
            </a>

            <div id="submenu-clients" class="collapse submenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vendor_customers' %}">Tous les clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vendor_add_points' %}">Ajouter des points de fidélité</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-chart-area"></i> Analyse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-divide"></i> Réductions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-broadcast-tower"></i> Marketing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-link"></i> Social</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-book"></i> Formations</a>
        </li>

        <!-- ADMINISTRATION LINKS-->
        {% elif request.user.is_staff %}
        <li class="nav-item">
            {% url 'admin_home' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-tachometer-alt"></i> Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-briefcase"></i> Commerçants</a>
        </li>
        {% elif request.user.is_customer %}
        <li class="nav-item">
            {% url 'customer_home' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>
</div>
<div class="fixed-bottom" style="width: 250px;">
    <div class="d-flex align-items-center justify-content-around">
        {% if request.user.is_authenticated %}

        <!-- VENDOR LINKS -->
        {% if request.user.is_vendor %}
        {% url 'vendor_settings' as url %}
        <a href="{{ url }}" class="nav-link {% if url in request.path %}active{% endif %}"><i class="fas fa-cog"></i> Réglages</a>
        <div class="divider"></div>
        <a href="" class="nav-link"><i class="fas fa-question-circle"></i> Assistance</a>
        {% endif %}

        {% endif %}
    </div>
</div>