{% load static %}
<div class="py-4">
    <ul class="navbar-nav flex-column">
        <li class="nav-item dropdown d-lg-none">
            <a class="nav-link d-flex align-items-center" data-toggle="collapse" aria-expanded="false" data-target="#submenu-myuser" aria-controls="submenu-myuser" href="#submenu-myuser">
                <img src="{% static 'assets/img/users/placeholder.png' %}" alt=""
                    class="user-avatar-md rounded-circle mr-2">

                {% if user.is_vendor %}
                <div class="d-flex flex-column">
                    <strong class="">{{ user }}</strong>
                    <small>{{ user.vendor.store_name }}</small>
                </div>
                {% elif user.is_staff %}
                <div class="d-flex flex-column">
                    <strong class="">{{ user }}</strong>
                    <small>Administrateur</small>
                </div>
                {% elif user.is_customer %}
                <div class="d-flex flex-column">
                    <strong class="">{{ user }}</strong>
                    <small>Client</small>
                </div>
                {% endif %}
            </a>
            {% if user.is_vendor %}
            <div class="collapse submenu" id="submenu-myuser">
                <a class="dropdown-item" href="{% url 'vendor_settings' %}"><i class="fas fa-cog mr-2"></i>Réglages</a>
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Déconnexion</a>
            </div>
            {% elif user.is_staff %}
            <div class="collapse submenu" id="submenu-myuser">
                <a class="dropdown-item" href="/django-admin"><i class="fas fa-user mr-2"></i>Administration Django</a>
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Déconnexion</a>
            </div>
            {% elif user.is_customer %}
            <div class="collapse submenu" id="submenu-myuser">
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-power-off mr-2"></i>Déconnexion</a>
            </div>
            {% endif %}
        </li>
        {% if request.user.is_authenticated %}

        <!-- VENDOR LINKS -->
        {% if request.user.is_vendor %}
        <li class="nav-item">
            {% url 'vendor_home' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'vendor/customers' in request.path %}active{% endif %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-clients" aria-controls="submenu-clients" href="#submenu-clients">
                <i class="fas fa-users"></i> Clients
            </a>

            <div id="submenu-clients" class="collapse submenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vendor_customers' %}">Tous les clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vendor_add_points' %}">Ajouter des points de fidélité</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-chart-area"></i> Analyse</a>
        </li>
        <li class="nav-item">
            {% url 'vendor_discounts' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-divide"></i> Réductions</a>
        </li>
        <li class="nav-item">
            {% url 'vendor_marketing' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-broadcast-tower"></i> Marketing</a>
        </li>
        <li class="nav-item">
            {% url 'vendor_social' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-link"></i> Social</a>
        </li>
        <li class="nav-item">
            {% url 'vendor_training' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-book"></i> Formations</a>
        </li>

        <!-- ADMINISTRATION LINKS-->
        {% elif request.user.is_staff %}
        <li class="nav-item">
            {% url 'admin_home' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-tachometer-alt"></i> Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-briefcase"></i> Commerçants</a>
        </li>
        {% elif request.user.is_customer %}
        <li class="nav-item">
            {% url 'customer_home' as url %}
            <a class="nav-link {% if url in request.path %}active{% endif %}" href="{{ url }}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>
</div>
<div class="fixed-bottom" style="width: 250px;">
    <div class="d-flex align-items-center justify-content-around">
        {% if request.user.is_authenticated %}

        <!-- VENDOR LINKS -->
        {% if request.user.is_vendor %}
        {% url 'vendor_settings' as url %}
        <a href="{{ url }}" class="nav-link {% if url in request.path %}active{% endif %}"><i class="fas fa-cog"></i> Réglages</a>
        <div class="divider"></div>
        <a href="" class="nav-link"><i class="fas fa-question-circle"></i> Assistance</a>
        {% endif %}

        {% endif %}
    </div>
</div>