{% load static %}
<div class="py-4 px-3">
    <ul class="navbar-nav flex-column">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Dashboard</a>
        </li>

        <!-- VENDOR LINKS -->
        {% if request.user.is_vendor %}
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-users"></i> Clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-chart-area"></i> Analyse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-divide"></i> Réductions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-broadcast-tower"></i> Marketing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-link"></i> Social</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-book"></i> Formations</a>
        </li>

        <!-- ADMINISTRATION LINKS-->
        {% elif request.user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-tachometer-alt"></i> Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""><i class="fas fa-briefcase"></i> Commerçants</a>
        </li>
        {% endif %}
        {% endif %}
    </ul>
</div>
<div class="fixed-bottom" style="width: 250px;">
    <div class="d-flex align-items-center justify-content-around">
        <a href="" class="nav-link"><i class="fas fa-cog"></i> Réglages</a>
        <div class="divider"></div>
        <a href="" class="nav-link"><i class="fas fa-question-circle"></i> Assistance</a>
    </div>
</div>