{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
<div class="card">
    <div class="card-header">
        <div class="title text-uppercase">Mentions légales</div>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, repellendus ad obcaecati aliquid sapiente numquam ea corporis quidem et sit eveniet illum aut possimus necessitatibus sint perspiciatis adipisci explicabo excepturi!</p>
    </div>
</div>
{% endblock %}