{% extends 'main/layout.html' %}

{% block content %}
<h1>Bienvenue chez {{ vendor.store_name }}</h1>
<form method="POST" class="mt-4">
    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>Erreur : </strong> {{ error|escape }}
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>Erreur : </strong>{{ error|escape }}
    </div>
    {% endfor %}
    {% endif %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">S'inscrire</button>
</form>
{% endblock %}