asgiref==3.2.7
boto3==1.13.3
botocore==1.16.3
dj-database-url==0.5.0
Django==3.1.9
django-heroku==0.3.1
django-qr-code==1.2.0
django-qrcode==0.3
django-sendgrid-v5==0.8.1
django-sslserver==0.22
django-storages==1.9.1
docutils==0.15.2
future==0.18.2
gunicorn==20.0.4
jmespath==0.9.5
numpy==1.18.2
pandas==1.0.3
Pillow==7.1.1
psycopg2==2.8.5
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2019.3
qrcode==6.1
s3transfer==0.3.3
sendgrid==6.3.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
whitenoise==5.0.1
