{% load static %}
<!doctype html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/toastr.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/DataTables/datatables.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fullcalendar/core/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fullcalendar/daygrid/main.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/circular-std/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/video-js.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- SEO -->
  <meta property="og:title" content="Simple Sidebar - Template Preview">
  <meta property="og:site_name" content="Start Bootstrap">
  <meta property="og:type" content="website">
  <meta property="og:description" content="">
  <meta property="og:image" content="https://startbootstrap.com/assets/img/branding/og-start-bootstrap.png">
  <meta property="og:url" content="https://startbootstrap.com/previews/simple-sidebar/">
  <meta property="og:image:alt" content="Simple Sidebar - Template Preview">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://startbootstrap.com/assets/img/branding/start-bootstrap-logo-500x500.png">
  <meta name="twitter:site" content="@SBootstrap">
  <title>Elevator</title>
</head>

<body>
  <div class="dashboard-header">
    {% block header %}{% include 'main/components/header.html' %}{% endblock %}
  </div>
  <div class="d-flex" id="wrapper">
    <div class="bg-primary" id="sidebar-wrapper">
      {% block sidebar %}{% include 'main/components/sidebar.html' %}{% endblock %}
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid position-relative content py-md-4 px-md-3 py-3 px-2 mb-4">
        {% block content %}{% endblock %}
        
        <!-- Floating button -->
        <div class="card-float bottom right">
            <a href="" class="btn-round btn-primary">
                <i class="fas fa-user-plus"></i>
            </a>
        </div>
      </div>
      <div class="dashboard-footer">
          {% block footer %}{% include 'main/components/footer.html' %}{% endblock %}
      </div>
    </div>
    <div id="right-sidebar">
      {% block rightbar %}{% endblock %}
    </div>
  </div>
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'assets/js/jquery.js' %}"></script>

  <!-- Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <!-- Bootstrap JS -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  <!-- DataTables -->
  <script type="text/javascript" src="{% static 'assets/DataTables/datatables.min.js' %}"></script>

  <!-- Fullcalendar -->
  <script type="text/javascript" src="{% static 'assets/fullcalendar/core/main.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/fullcalendar/daygrid/main.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/fullcalendar/core/locales/fr.js' %}"></script>

  <!-- ApexCharts JS -->
  <script src="{% static 'assets/js/apexcharts.min.js' %}"></script>

  <!-- jQuery Custom Scroller CDN -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <!-- jQuery Flip JS -->
  <script src="{% static 'assets/js/jquery.flip.min.js' %}"></script>

  <!--  jQuery Loading Plugin -->
  <script src="{% static 'assets/js/jquery.loading.min.js' %}"></script>

  <!--  jQuery Loading Plugin -->
  <script src="{% static 'assets/js/moment.js' %}"></script>
  <script>
    moment.locale("fr");
  </script>

  <!-- ToasterJS for error handling-->
  <script src="{% static 'assets/js/toastr.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".nav-left-sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $("#sidebarCollapse").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    });
  </script>


  <!-- Script block -->
  {% block script %}{% endblock %}

  <!-- Custom error handling -->
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-bottom-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "800",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    toastr.error('{{ message }}');
    {% elif message.tags == 'success' %}
    toastr.success('{{ message }}');
    {% elif message.tags == 'warning' %}
    toastr.warning('{{ message }}');
    {% else %}
    toastr.info('{{ message }}');
    {% endif %}
    {% endfor %}
    {% endif %}
  </script>
</body>

</html>